<div class="card">
	<h5>@Data.Type</h5>
	<br/>
	@foreach (var field in @Data.Fields)
	{
		<FieldComponent Field="field"/>
	}
	<div>
		<button @onclick="AddField">Add</button>
	</div>
</div>

@code {
	[Parameter]
	public Data Data { get; set; }

	private void AddField()
	{
		Field field = new();
		Data.Fields.Add(field);
		StateHasChanged();
	}
}
