@page "/"
@inject DataStorage DataStorage;

<PageTitle>Index</PageTitle>

<div>
	<div class="mb-4">
		<DataSelector OnDataCreated="Add" OnDataTypeSelected="LoadData"/>
	</div>
	
	<div>
		@foreach (var data in Data)
		{
			<DataComponent Data=@data/>
		}
	</div>
</div>

@code{
	private List<Data> Data { get; } = new();

	private void Add(Data data)
	{
		var id = DataStorage.Add(data);
		if(id != Guid.Empty) Data.Add(data);
	}

	private void LoadData(string type)
	{
		var data = DataStorage.GetData(type);
		Data.Clear();
		if (data.Count() > 0)
		{
			Data.AddRange(data.Select(d=>d.Item2));
		}
		StateHasChanged();
	}

}
