@page "/"
@inject DataStorage DataStorage;

<PageTitle>Index</PageTitle>

<div>
	<div class="mb-4">
		<DataSelector SelectedDataTypeChanged="UpdateDataSelection"/>
	</div>
	<button class="btn btn-primary" @onclick="AddData">Add Data</button>
	<div class="mt-4">
		@foreach (var data in Data)
		{
			<DataComponent Data=@data/>
		}
	</div>
</div>

@code{
	private List<Data> Data { get; } = new();

	private string? SelectedDataType { get; set; }

	private void AddData()
	{
		if (SelectedDataType is not { Length: > 0 }) return;
		
		Data data =  new Data { Type = SelectedDataType };

		var id = DataStorage.Add(data);
		if(id != Guid.Empty) Data.Add(data);
		StateHasChanged();
	}

	private void LoadData(string? type)
	{
		Data.Clear();
		if(type is null) return;

		var data = DataStorage.GetData(type);
		if (data.Count() > 0)
		{
			Data.AddRange(data.Select(d=>d.Item2));
		}
		StateHasChanged();
	}

	private async Task UpdateDataSelection(string? type)
	{
		SelectedDataType = type;
		LoadData(type);
	}

}
