@page "/"
@inject DataStorage DataStorage;

<PageTitle>Index</PageTitle>

<div>
	<DataSelector SelectedDataTypeChanged="UpdateDataSelection"/>
	<DataMapSelector @ref="MapSelector" OnDataSave="AddData"/>
	<div class="mt-4">
		@foreach (var data in Data)
		{
			<DataComponent Data=@data/>
		}
	</div>
</div>

@code{
	private List<Data> Data { get; } = new();

	private string? SelectedDataType { get; set; }

	private DataMapSelector? MapSelector { get; set; }

	private void AddData(Data data)
	{
		if (SelectedDataType is not { Length: > 0 }) return;
		
		var id = DataStorage.Add(data);
		if(id != Guid.Empty) Data.Add(data);
		StateHasChanged();
	}

	private void LoadData(string? type)
	{
		Data.Clear();
		if(type is null) return;

		var data = DataStorage.GetData(type);
		if (data.Count() > 0)
		{
			Data.AddRange(data.Select(d=>d.Item2));
		}
		StateHasChanged();
	}

	private async Task UpdateDataSelection(string? type)
	{
		SelectedDataType = type;
		if(MapSelector is not null) await MapSelector!.UpdateMaps(type);
		LoadData(type);
	}

}
